.Reslist{
    display: flex;
    height: min-content;
    width: 100%;
    justify-content: space-between;
    /* padding: 1% 1%; */
}

.Reslist.res-header{
    position: sticky;
    font-weight: 600;
    font-size: 14px;
    top: 0;
    background-color: #00cc00;
    color: #fff;
    z-index: 3;
}

.Reslist div{
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
}

 .reslist-body{ 
    cursor: pointer;
    border: 1px solid #fff;

}
.reslist-body:hover{
    border-bottom: 1px solid #00cc00;
    border-radius: 5px;
}


.Reslist div:last-child{
    text-align: center;
}
.Reslist input{
    width: 15px;
    height: 15px;
}

.Reslist .short{
    width: 8%;
}
.Reslist .fixed{
    width: 10%;
    text-align: center;
}
.Reslist .long{
    width: 15%;
    overflow: hidden;

}